<h1>Welcome to the About page</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %>


<h1>Issues</h1>
<ul>
  <li>The confirm messages wont work It is a javascript thing.</li>

</ul>

<h1>List of working nav routes</h1>
<ul>
  <li>/</li>
  <li>/about</li>
  <li>/articles</li>
  <li>/articles/new</li>
  <li>/articles/id/edit</li>
  <li>/articles/id</li>
  <li>/signup</li>
  <li>/users/id/edit</li>
  <li>/users/id</li>
  <li></li>

</ul>

<p>
  <%= link_to 'home', root_path %>
</p>